<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sparsh" translate="label" sortOrder="500">
            <label>Sparsh Extensions</label>
        </tab>
        <section id="faq_module" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>FAQ</label>
            <tab>sparsh</tab>
            <resource>Sparsh_Faq::faq</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable FAQ</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_category_navbar_enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Do you want category sidebar? </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose No if you do not want FAQs to be listed based on categories.</comment>
                </field>
            </group>
            <group id="faq_list_config" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FAQ List Configuration</label>
                <field id="faq_list_label_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>FAQ List Label</label>
                    <comment>Enter Label for the FAQ block.</comment>
                </field>
            </group>

        </section>
    </system>
</config>