<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
        <tab id="Hims" translate="label" sortOrder="200">
           <label>Hims Config</label>
        </tab>
        <section id="testimonial" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
           <class>separator-top</class>
           <label>Testimonial Module</label>
           <tab>Hims</tab>
           <resource>Hims_Testimonial::config</resource>
           <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
               <label>Testimonial Module Configuration</label>
               <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label>Enable Module</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="form_show" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label>Form Show On Frontend</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <!-- <field id="youtube" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label>Enable Youtube Field</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="twitter" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label>Enable Twitter Field</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field> -->
               <field id="emailsubject" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label>Email Default Subject</label>
               </field>
               <!-- <field id="facebook" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label>Enable Facebook Field</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field> -->
               <field id="stars" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label>Enable Ratting Field</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
            </group>
       </section>
     </system>
</config>