<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
     <menu>
          <add id="Webcreta_ProductRecommendationQuiz::productrecommendationquiz" title="Product Quiz" module="Webcreta_ProductRecommendationQuiz" sortOrder="10" resource="Webcreta_ProductRecommendationQuiz::productrecommendationquiz"/>
          <add id="Webcreta_ProductRecommendationQuiz::manageproductrecommendationquiz" title="Manage Product Quiz" module="Webcreta_ProductRecommendationQuiz" sortOrder="20" parent="Webcreta_ProductRecommendationQuiz::productrecommendationquiz" action="productrecommendationquiz/category/index" resource="Webcreta_ProductRecommendationQuiz::manageproductrecommendationquiz"/>
     </menu>
</config>