<?xml version="1.0"?>
<!-- 
/**
 * Magecurious_PushNotifications
 * @package   Magecurious\PushNotifications
 * @author    Magecurious <support@magecurious.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="admin">
    <route id="productrecommendationquiz" frontName="productrecommendationquiz">
      <module name="Webcreta_ProductRecommendationQuiz" after="Magento_Backend"/>
    </route>
  </router>
</config>